#tweets-container {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;

  article{
    margin-bottom: 1em;
    border: $borderWidth solid $grey;
    border-radius: $radius;
    background-color: white;
    display: flex;
    flex-direction: column;

    header{
      padding: $mediumSpace;
      height: 4em;
      background-color: $lightGrey;
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .name{
        width: 100%;
        padding-left: $mediumSpace;
        padding-right: $mediumSpace;
      }

      .handle{
        color: $darkGrey;
      }
    }

    .tweet{
      padding: $mediumSpace;
      word-wrap: break-word;
      overflow-wrap: break-word;;
    }

    footer{
      padding: $mediumSpace;
      width: 100%;
      height: 40px;
      font-size: $fontSmall;
      border-top: $borderWidth solid $grey;
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .footer-div{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .like-tweet{
          width: 20px;
          height: 20px;
          margin-left: $smallSpace;
          outline: none;
        }

        .like-text {
          margin-left: $smallSpace;
        }
      }
    }
  }
}

@media(max-width: $mSize) {
  #tweets-container {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
  }
}