#tweets-container {
  margin: 2em;
}

#tweets-container article{
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 9px;
  background-color: white;
}

#tweets-container header{
  padding: 10px;
  height: 4em;
  background-color: #eee;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  display: table;
  width: 100%;
}

#tweets-container .avatar{
  display: table-cell;
  vertical-align: middle;
}

#tweets-container .name{
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#tweets-container .handle{
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  color: #888;
}

#tweets-container .tweet{
  padding: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;;
}

#tweets-container footer{
  padding: 10px;
  font-size: 10px;
  border-top: 1px solid #ddd;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  display: table;
  width: 100%;
}

#tweets-container footer p{
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}

#tweets-container footer img{
  display: table-cell;
  float: right;
  width: 20px;
  margin-left: 5px;
}