#tweets-container {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
}

#tweets-container article{
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 9px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#tweets-container header{
  padding: 10px;
  height: 4em;
  background-color: #eee;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tweets-container .name{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#tweets-container .handle{
  color: #888;
}

#tweets-container .tweet{
  padding: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;;
}

#tweets-container .like-tweet{
  outline: none;
}

#tweets-container footer{
  padding: 10px;
  width: 100%;
  height: 40px;
  font-size: 10px;
  border-top: 1px solid #ddd;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tweets-container .footer-div{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#tweets-container footer img{
  width: 20px;
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
}

#tweets-container .like-text {
  margin-left: 2px;
}