.new-tweet {
  margin-left: 2em;
  margin-right:2em;
  border-radius: 9px;
  background-color: #eee;
  padding: 10px;
}

.new-tweet h2 {
  border-bottom: 2px solid;
  margin-top: 2px;
  margin-bottom: 20px;
}

.new-tweet textarea{
  padding: 5px;
  width: 100%;
  border-radius: 2px;
}

.counter{
  float: right;
  margin: 8px;
}